{block content}

<p><a n:href="Movie:default">← back</a></p>


<h1 n:block="title">{$movie->title}</h1>
<div class="year">{$movie->year}</div>
<div class="genre">{$movie->genre}</div>
<div class="author">{$movie->author}</div>
<div class="desc">{$movie->description}</div>

<a n:href="Movie:edit $movie->id">Edit movie</a>
{/block}